//

//Buttons

//Primary button backgrounds/outline
$color-accessible-green:#248700;

//Decorative Elements(graphs/charts)
$color-telus-green:#66CC00;

//Headings, secondary bytton background/outline, chevron links
$color-telus-purple:#4B286D;

//Sub headings (h3, h4), body text, focus form object borders


$color-shark:#2A2C2E;

//Color for default Links
$color-shuttle-grey: #54595F;

//Page Background, inverted links/button

$color-white:#FFFFFF;

$PrimaryFont:"TELUS-Web","Helvetica Neue",Helvetica,Arial,sans-serif;
