.temperature {
  color: #4B286D;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "TELUS-Web", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.location {
  font-size: 4vw;
  font-family: "TELUS-Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #66CC00; }

.weatherIcon {
  width: 25vw; }
  .weatherIcon img {
    width: 100%; }

.median {
  font-size: 9vw;
  font-weight: 100; }

.minmax {
  font-size: 2vw; }

.Details {
  font-size: 2vw;
  text-transform: capitalize;
  font-family: "TELUS-Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

.OuterContainer {
  height: 100vh; }

.shadowContainer {
  background: rgba(255, 255, 255, 0.63); }

.imageContainer {
  background-size: cover; }
