.dateButtons {
  padding: 0vw 11vw; }

.dateButton {
  font-family: "TELUS-Web", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .dateButton:hover {
    cursor: pointer; }

.dateButtonsCol {
  font-family: "TELUS-Web", "Helvetica Neue", Helvetica, Arial, sans-serif; }
